body {
    background-color: rgb(224, 216, 204);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h{
    color: rgb(77, 77, 74);
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    padding-left:20pt;
    
}

#container{
   background-color: white;
    margin-top: 80pt; 
    display:flex;
    height: 300pt;
    width: 600pt;
    margin-left: 20%;
    margin-right: 15%; 
    margin-bottom: 80pt; 
}

#title{
    font-size: 20pt;
    color: rgb(77, 77, 74);
    font-weight: bold;
    padding-left:38%;
    min-width:200px;
}

#logInForm{
    font-weight: normal;
    font-size: 15pt;
    margin-top: 15pt;
    padding-left:50%;   
}

form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 10pt;    
}

.label{
    opacity:0.3;
    padding-left: 50%;
}

.label1{
    opacity:0.3;
    padding-left: 40%;
}

input{
    border-top: white;
    border-right: white;
    border-left: white;
    border-bottom-color: rgb(77, 77, 74);
    padding: 7px;
    opacity:0.5;
}

.logIn{
    background-color: rgb(9, 49, 94);
    color: white;
    font-size: 9pt;
    margin-top: 80%;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-left: 60pt;
    padding-right:50pt;
    border-radius: 10pt;
    min-width:200px;
}

#boton{
    padding-right: 60%;
    position:relative;
    right: 20pt;
}

a{
    color: rgb(201, 144, 23);
    font-size: 10pt;
    text-decoration: none;
    position: relative;
    padding-left: 15pt;
}

#signUpLink{
    color: rgb(201, 144, 23);
    font-size: 12pt;
    text-decoration: none;
    margin-left:20pt;
 
}

#image{
    display: inline-block;
    text-align: right;
    opacity: 0.5;
    padding-left: 20%;  
}

img{
    height: 300pt;
    width: 250pt;
    float:left; 
}

#text{
    display: inline-block;
    padding-top:5%;
    padding-bottom: 50pt;
    padding-right: 0%;
    padding-left: 80pt;
}

p{
    color: rgb(201, 144, 23);
    font-size: 10pt;
    position: relative;
    font-weight: none;
    text-emphasis: none;
    text-align: center;
    
 }