
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h{
    color: black;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
#map{
    height: 100%;
}
i {
    color:red;
    padding: 3px;
}
.card-footer-item:hover{
    color: red;
}
.address-label{
    color: rgb(201, 144, 23)
};

